/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

#prefooter {
	padding: 8rem 0;
	background-color: $purple;
	color: white;

	h2, a {
		color: white;
	}

	.company-info {

		h1 {
			font-size: 2.8rem;
			margin-bottom: 4rem;
			color: white;
			font-weight: 900;
		}

		p {
			margin-bottom: 3rem;
			font-size: 1.4rem;
		}

		.contact {
			font-size: 1.4rem;
			 
			li {
				margin: 0;
				font-weight: 600;

				a {
					color: $pale-blue;
					font-weight: 300;
					text-decoration: none;
				}
			}
		}

		.social {
			margin-top: 4rem;

			li {
				display: inline-block;
				vertical-align: top;

				a {
					background-color: white;
					color: $purple;
					text-decoration: none;
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		a {
			color: white;
		}
	}

	.news {

		h3 {
			font-size: 2.8rem;
			margin-bottom: 4rem;
			color: white;
			font-weight: 900;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: .5rem;
				color: white;
				font-size: 1.4rem;
				list-style: inside disc;

				a {
					text-decoration: none;
				}
			}
		}
	}
}

#colophon {
	font-size: 1.4rem;
	padding: 4rem 0;
	background-color: $deep-purple;
	color: white;

	.copyright {

		&:last-of-type {
			text-align: right;

			a {
				text-decoration: none;
				color: $pale-blue;
				font-weight: 900;
			}
		}
	}
}